.bundle/
log/*.log
pkg/
coverage/
test/webify_ruby_rails/db/*.sqlite3
test/webify_ruby_rails/db/*.sqlite3-journal
test/webify_ruby_rails/log/*.log
test/webify_ruby_rails/tmp/
test/webify_ruby_rails/tmp/
test/webify_ruby_rails/public/otf_convert
test/webify_ruby_rails/public/ttf_convert
test/webify_ruby_rails/public/destination_directories_test
test/webify_ruby_rails/.sass-cache
